@import url(./normalize.css);

body {
    color: black;
    background-color: #EAEDF0;
    /* font-family: 'Amatic SC', sans-serif; */
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    display: flex;
    width: auto;
    border: 1px solid red;
}

.image-container {
    position: relative;
    height: 100vh;
}

.sidebar-title {
    position: absolute;
    top: 10%;
    border: 1px solid white;
    background-color: #5D6063;
    opacity: 0.5;
    width: auto;
}

.sidebar-title h1 { 
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.5rem;   
    color: black;
}

.image-container p {
    color: #EAEDF0;
    position: absolute;
    bottom: 0%;
}

.content-container {
    display: flex;
    flex-direction: column;
}
.background-image {
    /* height: 100vh; */
}