@import url(./normalize.css);

body {
    color: black;
    background-color: #EAEDF0;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Inconsolata', monospace; */
    font-size: 15px;
    box-sizing: border-box;
    /* -webkit-appearance: none; */
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    display: flex;
    width: auto;
    /* border: 1px solid red; */
}

.image-container {
    position: relative;
    height: 100vh;
}

.sidebar-title {
    position: absolute;
    top: 10%;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.5rem;
    color: #EAEDF0;
}

.sidebar-title h1 {
    border: 1px solid white;
    margin: 10px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-footer {
    color: #EAEDF0;
    position: absolute;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    /* margin: 0; */
    /* padding-left: 10px; */
    /* border: 1px solid white; */
}

.sidebar-footer p {
    font-size: 0.8rem;
    margin: 0;
    padding: 5px 10px 5px 10px;
    /* border: 1px solid green; */
}

.content-container {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}

.description {
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
    /* padding-bottom: 2rem; */
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    /* padding-top: 3rem;
    padding-bottom: 2rem; */
    /* max-width: 600px;
    min-width: 300px; */
}

.description p {
    /* border: 1px solid black; */
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 2rem;
    max-width: 600px;
    margin-bottom: 0;
    /* background-color: #B3CDFF; */
}

.form-container {
    /* min-height: 200px; */
    /* border: 1px solid salmon; */
    /* background-color: white; */
    /* height: 300px; */
    margin: none;
    /* padding-left: 40px; */
}

#form-inputs {
    background-color: white;
    padding-left: 40px;
    /* margin-bottom: 2rem; */
    padding-bottom: 20px;
    box-shadow: 0 5px 5px lightgray;

}

form {
    display: flex;
    flex-direction: column;
    /* padding-left: 40px; */
    /* flex-wrap: wrap; */
}

.create-acc-btn {
    width: 200px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 8px;
    background-color: #596D48;
    color: white;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form p {
    /* border: 1px solid black; */
    margin-left: 40px;
    /* margin-top: 5rem; */
}

.fields {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    max-width: 600px;
    gap: 20px 100px;
}

.input-container {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;

}

input {
    width: 200px;
    border: 1px solid #E5E7EB;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input:focus {
    border: 1px solid blue;
}